pipeline/ContinuousRunPipeline.json
{
	"name": "ContinuousRunPipeline",
	"properties": {
		"activities": [
			{
				"name": "Set the TimeNow variable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set WindowStart variable",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set WindowEnd variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "TimeNow",
					"value": {
						"value": "@convertTimeZone(utcnow(),'UTC','GMT Standard Time')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If the Time is Right",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Set the TimeNow variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@And(\ngreaterOrEquals(variables('TimeNow'), variables('WindowStart')),\nlessOrEquals(variables('TimeNow'), variables('WindowEnd'))\n)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "WaitForMe",
							"description": "Wait for 10 seconds",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 10
							}
						}
					]
				}
			},
			{
				"name": "Set WindowStart variable",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "WindowStart",
					"value": {
						"value": "2022-01-10T14:00:00.0000000Z",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set WindowEnd variable",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "WindowEnd",
					"value": {
						"value": "2022-01-10T15:00:00.0000000Z",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"TimeNow": {
				"type": "String"
			},
			"WindowStart": {
				"type": "String"
			},
			"WindowEnd": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Dev"
		},
		"annotations": []
	}
}