pipeline/CopyAllFilesInContainer.json
{
	"name": "CopyAllFilesInContainer",
	"properties": {
		"description": "Copy data from all files within a storage container to an Azure SQL Database",
		"activities": [
			{
				"name": "Set StartTime",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "PipelineStartTime",
					"value": {
						"value": "@convertFromUtc(utcnow(), 'GMT Standard Time')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set EndTime",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Load Each File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "PipelineEndTime",
					"value": {
						"value": "@convertFromUtc(utcnow(), 'GMT Standard Time')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set PipelineName",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set StartTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "PipelineName",
					"value": {
						"value": "@pipeline().Pipeline",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Update Pipeline LogInfo",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Set EndTime",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[ADF].[pr_InsertPipelineLogInfo]",
					"storedProcedureParameters": {
						"PipelineRunId": {
							"value": {
								"value": "@variables('MasterRunId')",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineStartTime": {
							"value": {
								"value": "@variables('PipelineStartTime')",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"PipelineEndTime": {
							"value": {
								"value": "@variables('PipelineEndTime')",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"DataFactoryName": {
							"value": {
								"value": "@pipeline().DataFactory",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerName": {
							"value": {
								"value": "@variables('TriggerName')",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "DynamicAzureSqlDatabase",
					"type": "LinkedServiceReference",
					"parameters": {
						"ServerName": {
							"value": "@pipeline().parameters.ETLServerName",
							"type": "Expression"
						},
						"DatabaseName": {
							"value": "@pipeline().parameters.ETLDatabaseName",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Set TriggerName",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set StartTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "TriggerName",
					"value": {
						"value": "@pipeline().parameters.TriggerName",
						"type": "Expression"
					}
				}
			},
			{
				"name": "List the files to be copied",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Set PipelineName",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set TriggerName",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "If MasterRunId is not set",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DataLakeBinaryFolder",
						"type": "DatasetReference",
						"parameters": {
							"DataLakeStorageAccount": {
								"value": "@pipeline().parameters.DataLake",
								"type": "Expression"
							},
							"DataLakeContainer": {
								"value": "@pipeline().parameters.DataLakeContainer",
								"type": "Expression"
							},
							"DataLakeDirectory": {
								"value": "@pipeline().parameters.DataLakeDirectory",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "Filter for just files and not sub folders",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "List the files to be copied",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('List the files to be copied').output.childitems",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().type, 'File')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If MasterRunId is not set",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Set StartTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@empty(pipeline().parameters.MasterRunId)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Set MasterRunId False",
							"description": "",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "MasterRunId",
								"value": {
									"value": "@pipeline().parameters.MasterRunId",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Set MasterRunId True",
							"description": "",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "MasterRunId",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Collect the metadata for each file",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Delete Metadata Config",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter for just files and not sub folders').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Get  the Metadata",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DataLakeDelimitedFile",
									"type": "DatasetReference",
									"parameters": {
										"Directory": {
											"value": "@concat(pipeline().parameters.DataLakeContainer, '/', pipeline().parameters.DataLakeDirectory)",
											"type": "Expression"
										},
										"FileName": {
											"value": "@item().name",
											"type": "Expression"
										},
										"Container": {
											"value": "@Item().Container",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"lastModified"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "EXEC pr_LoadFileMetaData",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Get  the Metadata",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[ADF].[pr_LoadFileMetaData]",
								"storedProcedureParameters": {
									"FileName": {
										"value": {
											"value": "@item().name",
											"type": "Expression"
										},
										"type": "String"
									},
									"LastModifiedDate": {
										"value": {
											"value": "@activity('Get  the Metadata').output.LastModified",
											"type": "Expression"
										},
										"type": "DateTime"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "DynamicAzureSqlDatabase",
								"type": "LinkedServiceReference",
								"parameters": {
									"ServerName": {
										"value": "@pipeline().parameters.ServerName",
										"type": "Expression"
									},
									"DatabaseName": {
										"value": "@pipeline().parameters.DatabaseName",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Lookup the files to Load",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Collect the metadata for each file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT FileName, FileDate \nFROM [ADF].[FileMetaData] \nORDER BY FileDate DESC",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable",
						"type": "DatasetReference",
						"parameters": {
							"ServerName": {
								"value": "@pipeline().parameters.ServerName",
								"type": "Expression"
							},
							"DatabaseName": {
								"value": "@pipeline().parameters.DatabaseName",
								"type": "Expression"
							},
							"SchemaName": "ADF",
							"TableName": "FileMetaData"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Load Each File",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup the files to Load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup the files to Load').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy the file data into the table",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"additionalColumns": [
										{
											"name": "FilePath",
											"value": "$$FILEPATH"
										},
										{
											"name": "FileDate",
											"value": {
												"value": "@item().FileDate",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DataLakeDelimitedFile",
									"type": "DatasetReference",
									"parameters": {
										"Directory": {
											"value": "@pipeline().parameters.DataLakeDirectory",
											"type": "Expression"
										},
										"FileName": {
											"value": "@item().FileName",
											"type": "Expression"
										},
										"Container": {
											"value": "@pipeline().parameters.DataLakeContainer",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AzureSqlTable",
									"type": "DatasetReference",
									"parameters": {
										"ServerName": {
											"value": "@pipeline().parameters.ServerName",
											"type": "Expression"
										},
										"DatabaseName": {
											"value": "@pipeline().parameters.DatabaseName",
											"type": "Expression"
										},
										"SchemaName": {
											"value": "@pipeline().parameters.SchemaName",
											"type": "Expression"
										},
										"TableName": {
											"value": "@pipeline().parameters.TableName",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Delete Metadata Config",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Filter for just files and not sub folders",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[ADF].[pr_DeleteMetaDataConfig]"
				},
				"linkedServiceName": {
					"referenceName": "DynamicAzureSqlDatabase",
					"type": "LinkedServiceReference",
					"parameters": {
						"ServerName": {
							"value": "@pipeline().parameters.ServerName",
							"type": "Expression"
						},
						"DatabaseName": {
							"value": "@pipeline().parameters.DatabaseName",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"ServerName": {
				"type": "string",
				"defaultValue": "sql-factaldata-01.database.windows.net"
			},
			"DatabaseName": {
				"type": "string",
				"defaultValue": "sqldb-factaldata-02"
			},
			"SchemaName": {
				"type": "string",
				"defaultValue": "dbo"
			},
			"TableName": {
				"type": "string",
				"defaultValue": "LoadTest"
			},
			"ETLServerName": {
				"type": "string",
				"defaultValue": "sql-factaldata-01.database.windows.net"
			},
			"ETLDatabaseName": {
				"type": "string",
				"defaultValue": "sqldb-factaldata-02"
			},
			"ETLSchemaName": {
				"type": "string",
				"defaultValue": "ADF"
			},
			"ETLTableName": {
				"type": "string",
				"defaultValue": "DynamicPipelineConfig"
			},
			"MasterRunId": {
				"type": "string",
				"defaultValue": "00000000-0000-0000-0000-000000000000"
			},
			"TriggerName": {
				"type": "string"
			},
			"DataLakeContainer": {
				"type": "string",
				"defaultValue": "loadtest"
			},
			"DataLakeDirectory": {
				"type": "string"
			},
			"DataLake": {
				"type": "string",
				"defaultValue": "stdatateamshared01"
			}
		},
		"variables": {
			"MasterRunId": {
				"type": "String"
			},
			"PipelineStartTime": {
				"type": "String"
			},
			"PipelineEndTime": {
				"type": "String"
			},
			"PipelineName": {
				"type": "String"
			},
			"DataFactoryName": {
				"type": "String"
			},
			"TriggerName": {
				"type": "String"
			},
			"TaskStartTime": {
				"type": "String"
			},
			"TaskEndTime": {
				"type": "String"
			},
			"RowCount": {
				"type": "String"
			},
			"Status": {
				"type": "String"
			},
			"ErrorCode": {
				"type": "String"
			},
			"DynamicStatement": {
				"type": "String"
			}
		},
		"folder": {
			"name": "ADF Framework"
		},
		"annotations": [],
		"lastPublishTime": "2021-08-09T14:46:06Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}