pipeline/CopyRESTEndpointToDataLake.json
{
	"name": "CopyRESTEndpointToDataLake",
	"properties": {
		"description": "Dynamically run the Copy Data task from a REST API to SQL Server",
		"activities": [
			{
				"name": "Copy Tables",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "List the tables to be copied",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('List the tables to be copied').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set TaskStartTime",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "If ConfigId is 1511",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "TaskStartTime",
								"value": {
									"value": "@convertFromUtc(utcnow(), 'GMT Standard Time')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set TaskEndTime",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Copy Data From REST API to the Data Lake",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "TaskEndTime",
								"value": {
									"value": "@convertFromUtc(utcnow(), 'GMT Standard Time')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Execute pr_InsertTaskLogInfo",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Set TaskEndTime",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[ADF].[pr_InsertTaskLogInfo]",
								"storedProcedureParameters": {
									"ConfigId": {
										"value": {
											"value": "@Item().ConfigId",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"PipelineRunId": {
										"value": {
											"value": "@variables('RunId')",
											"type": "Expression"
										},
										"type": "Guid"
									},
									"TaskStartTime": {
										"value": {
											"value": "@variables('TaskStartTime')",
											"type": "Expression"
										},
										"type": "Datetime"
									},
									"TaskEndTime": {
										"value": {
											"value": "@variables('TaskEndTime')",
											"type": "Expression"
										},
										"type": "Datetime"
									},
									"RowsCopied": {
										"value": {
											"value": "@activity('Copy Data From REST API to the Data Lake').output.rowsCopied",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"RowsRead": {
										"value": {
											"value": "@activity('Copy Data From REST API to the Data Lake').output.rowsRead",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"DataRead": {
										"value": {
											"value": "@activity('Copy Data From REST API to the Data Lake').output.dataread",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"DataWritten": {
										"value": {
											"value": "@activity('Copy Data From REST API to the Data Lake').output.dataWritten",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"CopyDuration": {
										"value": {
											"value": "@activity('Copy Data From REST API to the Data Lake').output.CopyDuration",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"Throughput": {
										"value": {
											"value": "@activity('Copy Data From REST API to the Data Lake').output.throughput",
											"type": "Expression"
										},
										"type": "Decimal"
									},
									"IntegrationRuntime": {
										"value": {
											"value": "@activity('Copy Data From REST API to the Data Lake').output.effectiveIntegrationRuntime",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "DynamicAzureSqlDatabase",
								"type": "LinkedServiceReference",
								"parameters": {
									"ServerName": {
										"value": "@pipeline().parameters.ETLServerName",
										"type": "Expression"
									},
									"DatabaseName": {
										"value": "@pipeline().parameters.ETLDatabaseName",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Execute pr_InsertErrorLogInfo AzDB_copy1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy Data From REST API to the Data Lake",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[ADF].[pr_InsertErrorLogInfo]",
								"storedProcedureParameters": {
									"ConfigId": {
										"value": {
											"value": "@Item().ConfigId",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"ErrorCode": {
										"value": {
											"value": "@activity('Copy Data From REST API to the Data Lake').output.errors[0].code",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"ErrorMessage": {
										"value": {
											"value": "@activity('Copy Data From REST API to the Data Lake').output.errors[0].Message",
											"type": "Expression"
										},
										"type": "String"
									},
									"EventType": {
										"value": {
											"value": "@activity('Copy Data From REST API to the Data Lake').output.errors[0].EventType",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"EventCategory": {
										"value": {
											"value": "@activity('Copy Data From REST API to the Data Lake').output.errors[0].Category",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"RunId": {
										"value": {
											"value": "@variables('RunId')",
											"type": "Expression"
										},
										"type": "Guid"
									},
									"StartTime": {
										"value": {
											"value": "@variables('TaskStartTime')",
											"type": "Expression"
										},
										"type": "Datetime"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "DynamicAzureSqlDatabase",
								"type": "LinkedServiceReference",
								"parameters": {
									"ServerName": {
										"value": "@pipeline().parameters.ETLServerName",
										"type": "Expression"
									},
									"DatabaseName": {
										"value": "@pipeline().parameters.ETLDatabaseName",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Copy Data From REST API to the Data Lake",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Return Mapping Columns",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "02:00:00",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"parallelCopies": 1,
								"dataIntegrationUnits": 2,
								"translator": {
									"value": "@json(activity('Return Mapping Columns').output.firstrow.json_output)",
									"type": "Expression"
								}
							},
							"inputs": [
								{
									"referenceName": "DynamicREST",
									"type": "DatasetReference",
									"parameters": {
										"BaseURL": {
											"value": "@variables('BaseURL')",
											"type": "Expression"
										},
										"UserName": "restuser",
										"Password": "RestPassword"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DataLakeDelimitedFile",
									"type": "DatasetReference",
									"parameters": {
										"Directory": {
											"value": "@Item().Subdirectory",
											"type": "Expression"
										},
										"FileName": {
											"value": "@concat(Item().FileName, '.', Item().FileExtension)",
											"type": "Expression"
										},
										"Container": {
											"value": "@Item().Container",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Return Mapping Columns",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Set TaskStartTime",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[ADF].[pr_getColumnMapping]",
									"storedProcedureParameters": {
										"ConfigId": {
											"type": "Int32",
											"value": {
												"value": "@item().ConfigId",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "AzureSqlTable",
									"type": "DatasetReference",
									"parameters": {
										"ServerName": {
											"value": "@pipeline().parameters.ETLServerName",
											"type": "Expression"
										},
										"DatabaseName": {
											"value": "@pipeline().parameters.ETLDatabaseName",
											"type": "Expression"
										},
										"SchemaName": {
											"value": "@pipeline().parameters.ETLSchemaName",
											"type": "Expression"
										},
										"TableName": {
											"value": "@pipeline().parameters.ETLTableName",
											"type": "Expression"
										}
									}
								}
							}
						},
						{
							"name": "If ConfigId is 1511",
							"description": "Planned Activity incremental load is ConfigId 1511 and appends the max date to the rest URL",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().ConfigId, 1511)",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Set BaseURL - False",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "BaseURL",
											"value": {
												"value": "@item().SourceServerName",
												"type": "Expression"
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Set BaseURL - True",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "BaseURL",
											"value": {
												"value": "@concat(item().SourceServerName, variables('PlannedActivityMaxDate'))",
												"type": "Expression"
											}
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Set RunId",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set StartTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "RunId",
					"value": {
						"value": "@pipeline().parameters.MasterRunId",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set StartTime",
				"description": ".",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "PipelineStartTime",
					"value": {
						"value": "@convertFromUtc(utcnow(), 'GMT Standard Time')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set EndTime",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Copy Tables",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "PipelineEndTime",
					"value": {
						"value": "@convertFromUtc(utcnow(), 'GMT Standard Time')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set PipelineName",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set StartTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "PipelineName",
					"value": {
						"value": "@pipeline().Pipeline",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Update Pipeline LogInfo",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Set EndTime",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[ADF].[pr_InsertPipelineLogInfo]",
					"storedProcedureParameters": {
						"PipelineRunId": {
							"value": {
								"value": "@variables('RunId')",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineStartTime": {
							"value": {
								"value": "@variables('PipelineStartTime')",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"PipelineEndTime": {
							"value": {
								"value": "@variables('PipelineEndTime')",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"DataFactoryName": {
							"value": {
								"value": "@pipeline().DataFactory",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerName": {
							"value": {
								"value": "@variables('TriggerName')",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "DynamicAzureSqlDatabase",
					"type": "LinkedServiceReference",
					"parameters": {
						"ServerName": {
							"value": "@pipeline().parameters.ETLServerName",
							"type": "Expression"
						},
						"DatabaseName": {
							"value": "@pipeline().parameters.ETLDatabaseName",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Set TriggerName",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set StartTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "TriggerName",
					"value": {
						"value": "@pipeline().parameters.TriggerName",
						"type": "Expression"
					}
				}
			},
			{
				"name": "List the tables to be copied",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set Planned Activity Max Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@variables('DynamicStatement')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable",
						"type": "DatasetReference",
						"parameters": {
							"ServerName": {
								"value": "@pipeline().parameters.ETLServerName",
								"type": "Expression"
							},
							"DatabaseName": {
								"value": "@pipeline().parameters.ETLDatabaseName",
								"type": "Expression"
							},
							"SchemaName": {
								"value": "@pipeline().parameters.ETLSchemaName",
								"type": "Expression"
							},
							"TableName": {
								"value": "@pipeline().parameters.ETLTableName",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Set DynamicStatement False",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set PipelineName",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set RunId",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set TriggerName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "DynamicStatement",
					"value": {
						"value": "@concat(pipeline().parameters.DynamicPipelineConfig, ' AND [LogicalGroup] = ', pipeline().parameters.LogicalGroup, ' ORDER BY LogicalOrder') ",
						"type": "Expression"
					}
				}
			},
			{
				"name": "LookupThePlannedActivityMaxChangedDate",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set DynamicStatement False",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "DECLARE @MaxChangedDate VARCHAR(50)\nSET @MaxChangedDate =\n\t(SELECT REPLACE(MAX(changedDate),':','%3A') FROM [Landing].[PlannedActivity])\nSELECT LEFT(@MaxChangedDate, LEN(@MaxChangedDate) - 5) AS MaxChangedDate",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable",
						"type": "DatasetReference",
						"parameters": {
							"ServerName": {
								"value": "@pipeline().parameters.SharedServerName",
								"type": "Expression"
							},
							"DatabaseName": {
								"value": "@pipeline().parameters.SharedDatabaseName",
								"type": "Expression"
							},
							"SchemaName": {
								"value": "@pipeline().parameters.ETLSchemaName",
								"type": "Expression"
							},
							"TableName": {
								"value": "@pipeline().parameters.ETLTableName",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Set Planned Activity Max Date",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupThePlannedActivityMaxChangedDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupThePlannedActivityMaxChangedDate').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set PlannedActivityMaxDate",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "PlannedActivityMaxDate",
								"value": {
									"value": "@item().MaxChangedDate",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"DynamicPipelineConfig": {
				"type": "string",
				"defaultValue": "SELECT\t[ConfigId], [ConfigDescription], [AzureSQLDBSourceServerType], [SourceServerName], [SourceDatabaseName], [SourceSchemaName], [SourceTableName],  \t\t  \t\t[AzureSQLDBDestinationServerType], [DestinationServerName], [DestinationDatabaseName], [DestinationSchemaName], [DestinationTableName],  \t\t  \t\t[PipelineName], [LogicalGroup], [LogicalOrder], [TaskType], [TruncateTable], [Active], [SubDirectory], [FileName], [FileExtension], [Container]   \t\tFROM [ADF].[DynamicPipelineConfig]   WHERE [TaskType] = 'CopyRestToDataLake' AND [Active] = 1"
			},
			"ServerName": {
				"type": "string"
			},
			"DatabaseName": {
				"type": "string"
			},
			"SchemaName": {
				"type": "string"
			},
			"TableName": {
				"type": "string"
			},
			"ETLServerName": {
				"type": "string"
			},
			"ETLDatabaseName": {
				"type": "string"
			},
			"ETLSchemaName": {
				"type": "string"
			},
			"ETLTableName": {
				"type": "string"
			},
			"LogicalGroup": {
				"type": "string",
				"defaultValue": "0"
			},
			"LogicalOrder": {
				"type": "string",
				"defaultValue": "0"
			},
			"MasterRunId": {
				"type": "string",
				"defaultValue": "00000000-0000-0000-0000-000000000000"
			},
			"TriggerName": {
				"type": "string"
			},
			"SharedServerName": {
				"type": "string",
				"defaultValue": "sql-datateam-shared-01.database.windows.net"
			},
			"SharedDatabaseName": {
				"type": "string",
				"defaultValue": "sqldb-datateam-shared-02"
			}
		},
		"variables": {
			"RunId": {
				"type": "String"
			},
			"PipelineStartTime": {
				"type": "String"
			},
			"PipelineEndTime": {
				"type": "String"
			},
			"PipelineName": {
				"type": "String"
			},
			"DataFactoryName": {
				"type": "String"
			},
			"TriggerName": {
				"type": "String"
			},
			"TaskStartTime": {
				"type": "String"
			},
			"TaskEndTime": {
				"type": "String"
			},
			"RowCount": {
				"type": "String"
			},
			"Status": {
				"type": "String"
			},
			"ErrorCode": {
				"type": "String"
			},
			"DynamicStatement": {
				"type": "String"
			},
			"PlannedActivityMaxDate": {
				"type": "String"
			},
			"BaseURL": {
				"type": "String"
			}
		},
		"folder": {
			"name": "ADF Framework"
		},
		"annotations": [],
		"lastPublishTime": "2021-08-09T14:26:44Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}