pipeline/FinanceDataLoad.json
{
	"name": "FinanceDataLoad",
	"properties": {
		"activities": [
			{
				"name": "Get the list of local files",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Set StartTime",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set RunId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "BinaryDataSource_Folder",
						"type": "DatasetReference",
						"parameters": {
							"FolderPath": {
								"value": "@pipeline().parameters.SourceFile_Location",
								"type": "Expression"
							},
							"Directory": {
								"value": "@pipeline().parameters.SourceFile_Directory",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "FileServerReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "Filter for just files and not sub folders",
				"description": "Only files will be selected, the source-folders will not be selected.",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get the list of local files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get the list of local files').output.childitems",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().type, 'File')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy the files to Data Lake",
				"description": "Iterate each file, and move them one by one.",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter for just files and not sub folders",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter for just files and not sub folders').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CopyAFile",
							"description": "Copy a file from the source store to the destination store.",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "FileServerReadSettings",
										"recursive": true,
										"deleteFilesAfterCompletion": false
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "BinaryDataSource_File",
									"type": "DatasetReference",
									"parameters": {
										"FolderPath": {
											"value": "@pipeline().parameters.SourceFile_Location",
											"type": "Expression"
										},
										"Directory": {
											"value": "@pipeline().parameters.SourceFile_Directory",
											"type": "Expression"
										},
										"filename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "BinaryDataDestination",
									"type": "DatasetReference",
									"parameters": {
										"Container": {
											"value": "@pipeline().parameters.DestinationFile_Location",
											"type": "Expression"
										},
										"filename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Copy the source data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Truncate StageFiles table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "FileName",
								"value": "$$FILEPATH"
							},
							{
								"name": "RunId",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFileName": "*",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Id",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Id",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Date",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Date",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Description",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Description",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Amount",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Amount",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "Balance",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Balance",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "FileName",
									"type": "String"
								},
								"sink": {
									"name": "FileName",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "RunId",
									"type": "String"
								},
								"sink": {
									"name": "RunId",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DataLakeSource",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Stage_Files",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Load new rows onto FactTransaction",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set RowsStaged",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "AccountKey",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "AccountKey",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "DirectDebitKey",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "DirectDebitKey",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Description",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Description",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Amount",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "Amount",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "Balance",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "Balance",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "DateKey",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "DateKey",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Id",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "SourceId",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "RunId",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "RunId",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AzDB_NewRows",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "AzDB_FactTransaction",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Truncate StageFiles table",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy the files to Data Lake",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Stage].[TruncateStageFiles]"
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase_FactalData",
					"type": "LinkedServiceReference",
					"parameters": {
						"ServerName": "srv-factaldata-01.database.windows.net",
						"DBName": "db-factaldata-01-dev"
					}
				}
			},
			{
				"name": "Set StartTime",
				"description": ".",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "StartTime",
					"value": {
						"value": "@utcnow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set EndTime",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Update Direct Debits",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "EndTime",
					"value": {
						"value": "@utcnow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set RunId",
				"description": "",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "RunId",
					"value": {
						"value": "@pipeline().RunId",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set RowsStaged",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Copy the source data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "RowsStaged",
					"value": {
						"value": "@string(activity('Copy the source data').output.rowsRead)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set NewRows",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Load new rows onto FactTransaction",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "NewRows",
					"value": {
						"value": "@string(activity('Load new rows onto FactTransaction').output.rowsRead)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Load RunLog",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Set EndTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[DWH].[LoadRunLog]",
					"storedProcedureParameters": {
						"NewRows": {
							"value": {
								"value": "@variables('NewRows')",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RowsStaged": {
							"value": {
								"value": "@variables('RowsStaged')",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RunDate": {
							"value": {
								"value": "@variables('EndTime')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"RunId": {
							"value": {
								"value": "@variables('RunId')",
								"type": "Expression"
							},
							"type": "Guid"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase_FactalData",
					"type": "LinkedServiceReference",
					"parameters": {
						"ServerName": "srv-factaldata-01.database.windows.net",
						"DBName": "db-factaldata-01-dev"
					}
				}
			},
			{
				"name": "Update Categories",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Set NewRows",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[DWH].[UpdateCategory]"
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase_FactalData",
					"type": "LinkedServiceReference",
					"parameters": {
						"ServerName": "srv-factaldata-01.database.windows.net",
						"DBName": "db-factaldata-01-dev"
					}
				}
			},
			{
				"name": "Update Direct Debits",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Update Categories",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[DWH].[UpdateDirectDebit]"
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase_FactalData",
					"type": "LinkedServiceReference",
					"parameters": {
						"ServerName": "srv-factaldata-01.database.windows.net",
						"DBName": "db-factaldata-01-dev"
					}
				}
			}
		],
		"parameters": {
			"SourceFile_Location": {
				"type": "string",
				"defaultValue": "C:\\Users\\david\\OneDrive - Factal Data Limited\\Documents\\Finance"
			},
			"SourceFile_Directory": {
				"type": "string",
				"defaultValue": "Files"
			},
			"DestinationFile_Location": {
				"type": "string",
				"defaultValue": "financefiles"
			}
		},
		"variables": {
			"StartTime": {
				"type": "String"
			},
			"EndTime": {
				"type": "String"
			},
			"RunId": {
				"type": "String"
			},
			"RowsStaged": {
				"type": "String"
			},
			"NewRows": {
				"type": "String"
			}
		},
		"folder": {
			"name": "MyFinance"
		},
		"annotations": [],
		"lastPublishTime": "2021-08-05T10:26:59Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}